/* this is where our fonts go */
body{
	font-family:Circular std bold, Helvetica, Arial, sans-serif;
	background-color:#f4f4f4;
}

.orange_text {
	color: #FC6E20;
}
nav a {
	font-size: 1rem;
}

h1{
	font-size:3rem;
}

h2{
	font-size:2rem;
	font-weight:bold;
	color:rgb(252,110,32);
}

h6{
  font-size:1rem;
	font-weight:bold;
	color: rgb(252,110,32);
}


.hero-column-one h1 {
	font-size:3rem;
	font-weight:bold;
}

.hctp1 {
	font-weight: bold;
	text-decoration: none;
	color: #FC6E20;
}

.grid-row2 p, .grid-row4 p, .grid-row6 p {
font-size: 2rem;
}

.footermisc {
	font-size: 0.8rem;
}

.footername {
	font-size: 1.5rem;
}
