@font-face {
	font-family: 'Calibre';
	src: url('../fonts/Calibre.TTF');
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

@font-face {
	font-family: 'Calibre Black';
	src: url('../fonts/CALIBRE-BLACK.TTF');
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

@font-face {
	font-family: 'Calibre LightItalic';
	src: url('../fonts/CALIBRE-LIGHTITALIC.TTF');
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

@font-face {
	font-family: 'Calibre Thin';
	src: url('../fonts/CALIBRE-THIN.TTF');
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

@font-face {
	font-family: 'Calibre Light';
	src: url('../fonts/CALIBRE-LIGHT.TTF');
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

@font-face {
	font-family: 'Calibre Regular';
	src: url('../fonts/CALIBRE-REGULAR.TTF');
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

@font-face {
	font-family: 'Calibre MediumItalic';
	src: url('../fonts/CALIBRE-MEDIUMITALIC.TTF');
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

@font-face {
	font-family: 'Circular STD Book';
	src: url('../fonts/CircularSTD-Book.OTF');
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

@font-face {
	font-family: 'Circular STD Bold';
	src: url('../fonts/CircularSTD-Bold.OTF');
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}
