/* this is where grids and media queries go */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  height: auto;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////// Main Template ///////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Whole Page */
.grid-main {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

/* Navigation Bar */
.grid-navbar {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

/* Contents */
.grid-contents {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

/* Hero */
.grid-row1 {
  display: grid;
  width: 100%;
  height: 60rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.hero-column-one {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr grid-template-rows: auto;
}

.hero-column-two {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.hero-column-three {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr grid-template-rows: auto;
}

/* Headine One */
.grid-row2 {
  padding: 5rem;
}

/* Coffee Row */
.grid-row3 {
  display: grid;
  width: 100%;
  height: 25rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

/* Heading Two */
.grid-row4 {
  padding: 5rem;
}

/* Merch Row */
.grid-row5 {
  display: grid;
  width: 100%;
  height: 25rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

/* Heading Three */
.grid-row6 {
  padding: 5rem;
}

/* Footer */
.grid-footer {
  display: grid;
  width: 100%;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
}

.footer-column-one {
  display: grid;
  width: 100%;
  margin-top: 2rem;
  margin-left: 1rem;
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
}

.footer-column-two {
  display: grid;
  width: 80%;
  margin-top: 6rem;
  margin-left: 1rem;
  text-align: center;
  grid-template-columns: 1fr 1fr;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////// Selection Page Template //////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
.p1 {
  padding-left: 10rem;
}

.p2 {
  padding-top: 10rem;
}

.p3 {
  padding-top: 5rem;
}

/* Page */
.grid-contents-product {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr;
}

/* Heading One */
.grid-coffee-row1 {
  display: grid;
  width: 100%;
  padding-left: 10rem;
  padding-top: 5rem;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

/* Row One */
.grid-coffee-row2 {
  display: grid;
  width: 100%;
  grid-template-columns: 29% 5% 22% 22% 22%;
  grid-template-rows: auto;
}

/* Heading Two */
.grid-coffee-row3 {
  display: grid;
  width: 100%;
  padding-top: 5rem;
  padding-left: 10rem;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

/* Row Two */
.grid-coffee-row4 {
  display: grid;
  width: 100%;
  padding-top: 2rem;
  grid-template-columns: 29% 5% 22% 22% 22%;
  grid-template-rows: auto;
}

/* Heading Three */
.grid-coffee-row5 {
  display: grid;
  width: 100%;
  padding-left: 10rem;
  padding-top: 5rem;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

/* Row Three */
.grid-coffee-row6 {
  display: grid;
  width: 100%;
  padding-top: 2rem;
  grid-template-columns: 29% 5% 22% 22% 22%;
  grid-template-rows: auto;
}

.coffee-selection {
  display: grid;
  width: 100%;
  padding-left: 5rem;
  grid-template-columns: auto;
  grid-template-rows: 70% 30%;
}

.coffee-selection-image {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.coffee-selection-text {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: 30% 70%;
}

.coffee-body {
  display: grid;
  width: 100%;
  padding-right: 5rem;
  grid-template-columns: auto;
  grid-template-rows: 20% 80%;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////// Product Page Template ///////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
.grid-contents-productpage {
  display: grid;
  width: 100%;
  margin-top: 10rem;
  grid-template-columns: 30% 5% 25% 50%;
  grid-template-rows: auto;
}

.product-column-one {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.product-column-one-contents {
  display: grid;
  width: 100%;
  margin-left: 10rem;
  grid-template-columns: auto;
  grid-template-rows: 20% 80%;
}

.product-column-one-body-subheader {
  display: grid;
  width: 100%;
  margin-top: 8rem;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.product-column-one-body {
  display: grid;
  width: 100%;
  margin-top: 5rem;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.product-column-two {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.product-column-three {
  display: grid;
  width: 80%;
  grid-template-columns: auto;
  grid-template-rows: 25% 5% 40% 5% 25%;
}

.product-column-three-price {
  display: grid;
  width: 75%;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
}

.product-column-three-info {
  display: grid;
  width: 50%;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.product-column-three-purchaseselection {
  display: grid;
  width: 60%;
  height: 5vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.product-column-three-purchaseselectionsingle {
  display: grid;
  width: 55%;
  height: 5vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.product-selection-image {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.product-selection-text {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////// Contact Page Template ///////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
.grid-contents-contactuspage {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.contactus-column-one {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
}

.contactus-column-two {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////// Checkout Template /////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/

.grid-contents-checkoutpage {
  display: grid;
  width: 100%;
  padding-top: 5rem;
  grid-template-columns: auto;
  grid-template-rows: 20% 10% 5% 25% 25% 5%;
}

.grid-contents-hr {
  display: grid;
  padding-left: 30rem;
  width: 80%;
}

.grid-contents-checkoutpage-row1 {
  display: grid;
  width: 100%;
  padding-left: 10rem;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.grid-contents-checkoutpage-row2 {
  display: grid;
  width: 80%;
  padding-left: 30rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.grid-contents-checkoutpage-row3 {
  display: grid;
  width: 80%;
  height: 50%;
  padding-left: 13rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.grid-contents-checkoutpage-row4 {
  display: grid;
  width: 100%;
  padding-top: 2rem;
  padding-left: 35rem;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.grid-contents-checkoutpage-column4 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.grid-contents-checkoutpage-column4-one {
  display: grid;
  width: 55%;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
}

.grid-contents-checkoutpage-column4-two {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr;
}

.grid-contents-checkoutpage-row5 {
  display: grid;
  width: 20%;
  padding-top: 2rem;
  padding-left: 77.5rem;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.grid-contents-checkoutpage-next {
  display: grid;
  width: 100%;
  padding-top: 5rem;
  grid-template-columns: auto;
  grid-template-rows: 20% 15% 65%;
}

.grid-contents-checkoutpage-next-comfirmation {
  display: grid;
  width: 100%;
  padding-top: 1rem;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.grid-contents-checkoutpage-beforeyougo {
  display: grid;
  width: 100%;
  padding-top: 5rem;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////// Media Queries ///////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Mobile */
@media all and (min-width: 480px) { .grid-main .grid-navbar .grid-contents .grid-footer {
    max-width: 480px;
  }
}

/* Tablet */
@media all and (min-width: 768px) { .grid-main .grid-navbar .grid-contents .grid-footer {
    max-width: 768px;
  }
}

/* Laptop */
@media all and (min-width: 1024px) { .grid-main .grid-navbar .grid-contents .grid-footer {
    max-width: 1024px;
  }
}

/* Full Width */
@media all and (min-width: 1440px) { .grid-main .grid-navbar .grid-contents .grid-footer {
    max-width: 1440px;
  }

  /* Something */
  nav a {
    font-size: 1rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(252, 110, 32);
  }

  h6 {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(252, 110, 32);
  }

  /* Main Page */
  .hero-column-one h1 {
    font-size: 3rem;
    font-weight: bold;
  }

  .pos1 {
    margin-top: 30em;
  	margin-right: 20em;
    width: 10em;
  }

  .grid-row2 p, .grid-row4 p, .grid-row6 p {
    font-size: 2rem;
  }

  /* About Us Page */
  .about-column-one h1 {
    font-size: 3rem;
  }

  .about-column-one h2 {
    font-size: 2rem;
  }

  /* Coffee Page & Merch */
  .grid-coffee-row1 p, .grid-coffee-row3 p, .grid-coffee-row5 p {
    font-size: 2rem;
  }

  /* Product Page */
  .product-column-one h3 {
    font-size: 1.2rem;
  }

  .product-column-one p {
    font-size: 1rem;
    letter-spacing: 1px;
    max-width: 30ch;
  }

  .caption p {
    font-size: 0.7rem;
  }

  /* Checkout */
  .grid-contents-checkoutpage-row1 {
    font-size: 3rem;
  }

  .grid-contents-checkoutpage-row2 {
    font-family: "Calibre Black";
    text-align: center;
    font-size: 1rem;
  }

  .grid-contents-checkoutpage-row3 {
    text-align: center;
  }

  .grid-contents-checkoutpage-next-comfirmation p {
    font-size: 1.5rem;
  }

  /* Contact Us Page */
  .contactus-column-one h2 {
    font-size: 3rem;
    color: black;
  }
}
