/* this is where grids and media queries go */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  height: auto;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////// Main Template ///////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Whole Page */
.grid-main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

/* Navigation Bar */
/* this is where grids and media queries go */
.grid-navbar {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
}


/* Contents */
.grid-contents {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

/* Hero */
.grid-row1 {
  display: grid;
  width: 100%;
  height: 60rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.hero-column-one {
	display: grid;
  width: 100%;
  grid-template-columns: 1fr
  grid-template-rows: auto;
}

.hero-column-two {
	display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.hero-column-three {
	display: grid;
  width: 100%;
  grid-template-columns: 1fr
  grid-template-rows: auto;
}

/* Headine One */
.grid-row2 {
    margin-left: 10em;
    padding: 8rem;
}

/* Row One */
.grid-row3 {
	display: grid;
  width: 100%;
  height: 15rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

/* Heading Two */
.grid-row4 {
  margin-left: 10em;
  padding: 8rem;
}

/* Row Two */
.grid-row5 {
  display: grid;
  width: 100%;
  height: 15rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

/* Heading Three */
.grid-row6 {
}

/* Footer */
.grid-footer {
	display: grid;
	width: 100%;
	height: 10rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
}

.footermisc {
	float: right;
	grid-column: 3/4;
}

footer {
  padding-top: 15rem;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////// Selection Page Template //////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/

.p1 {
  padding-left: 10rem;
}

.p2 {
  padding-top: 10rem;
}

.p3 {
  padding-top: 5rem;
}

/* Page */
.grid-contents-product {
  display: grid;
	width: 100%;
  padding-top: 10rem;
  padding-left: 10rem;
	grid-template-columns: auto;
	grid-template-rows: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr;
}

/* Heading One */
.grid-coffee-row1 {
  display: grid;
	width: 100%;
  padding-left: 10rem;
	grid-template-columns: auto;
	grid-template-rows: auto;
}

/* Row One */
.grid-coffee-row2 {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
}

/* Heading Two */
.grid-coffee-row3 {
  display: grid;
  width: 100%;
  padding-left: 10rem;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

/* Row Two */
.grid-coffee-row4 {
	display: grid;
	width: 100%;
	height: 15rem;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
}

/* Heading Three */
.grid-coffee-row5 {
  display: grid;
  width: 100%;
  padding-left: 10rem;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

/* Row Three */
.grid-coffee-row6 {
	display: grid;
	width: 100%;
	height: 15rem;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
}

.coffee-selection{
	display: grid;
	width: 100%;
  padding-left: 10rem;
	grid-template-columns: auto;
	grid-template-rows: 80% 20%;
}

.coffee-selection-image {
  display: grid;
	width: 100%;
	grid-template-columns: auto;
	grid-template-rows: auto;
}

.coffee-selection-text {
  display: grid;
	width: 100%;
  padding-top: 0.5rem;
	grid-template-columns: auto;
	grid-template-rows: auto;
}

.coffee-body {
  display: grid;
	width: 100%;
  padding-right: 5rem;
	grid-template-columns: auto;
	grid-template-rows: 20% 80%;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////// Product Page Template ///////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/

.grid-contents-productpage {
	display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.grid-contents-merchpage {
	display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.product-column-one {
	display: grid;
	width: 100%;
	grid-template-columns: auto;
	grid-template-rows: 1fr 1fr;
}

/* Stuff for this column */
.product-row-one {
	display: grid;
	width: 100%;
	height: 15rem;
	grid-template-columns: auto;
	grid-template-rows: auto;
}

.product-row-two {
	display: grid;
	width: 100%;
	height: 15rem;
	grid-template-columns: auto;
	grid-template-rows: 1fr 1fr 1fr 1fr;
}

.product-row-three {
	display: grid;
	width: 100%;
	height: 15rem;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.product-column-two {
	display: grid;
	width: 100%;
	grid-template-columns: auto;
	grid-template-rows: 1fr 1fr 1fr;
}

.product-column-three {
	display: grid;
	width: 100%;
	grid-template-columns: auto;
	grid-template-rows: auto;
}

.product-selection-image {
  display: grid;
	width: 100%;
	grid-template-columns: auto;
	grid-template-rows: auto;
}

.product-selection-text {
  display: grid;
	width: 100%;
  padding-top: 0.5rem;
	grid-template-columns: auto;
	grid-template-rows: auto;
}

.product-body {
  display: grid;
	width: 100%;
  padding-right: 5rem;
	grid-template-columns: auto;
	grid-template-rows: 20% 80%;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////// Contact Page Template ///////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/

.grid-contents-contactuspage {
	display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.contactus-column-one {
	display: grid;
	width: 100%;
	height: 15rem;
	grid-template-columns: auto;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.contactus-column-two {
	display: grid;
	width: 100%;
	height: 15rem;
	grid-template-columns: auto;
	grid-template-rows: 1fr 1fr;
}
