/* this is where grids and media queries go */


*{
	box-sizing:border-box;
}

.grid-main {
	display: grid;
	width: 100%;
	grid-template-columns: auto;
	grid-template-rows: auto;
}

.grid-navbar {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
}

.grid-contents {
	display: grid;
	width: 100%;
	grid-template-columns: auto;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-footer {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
}
