/* this is where css goes */
.grid-navbar{
	display: inline-block;
	background-color: #FC6E20;
	padding: 0;
	width: 100%;
}

.mainlogo{
	width: 15%;
	float: left;
	margin: 1em;

}

nav {
	float: right;
}

nav ul {
	list-style: none;
	margin-top: 2.5em;
}

nav li {
		display: inline-block;
		padding: 1em;

}

nav a {
		color: #ffffff;
		text-decoration: none;
		text-transform: uppercase;
}

nav a:hover {
	color: #000;
}

a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
}

a.ex1:hover, a.ex1:active{
    color: #FC6E20;
    text-decoration: underline;
}


.grid-navicon{
padding: 0;
width: auto;
}


.profilelogo{
	width: 10%;
	float: right;
	padding: 1em 1em;
	margin-top: 1em;
	margin-right: 5em;
}

.cartlogo {
	width: 10%;
  float: right;
	padding: 1em 1em;
	margin-top: 1em;
	margin-right: 2em;
}

.grid-row1{
	display: inline-block;
	padding: 0;
}




.hero-column-one h1 {
	margin-top: 8em;
	margin-left: 4em;
}


.hero-column-one h2 {
		margin-top: -8.5em;
		margin-left: 6em;
}


.arrow1 {
	margin-left: 5em;

}

.arrow2 {
	margin-left: 5em;
}

/* BUTTON CLASS */
.button-wrapper {
  display: block;
  text-align: center;
}

.ctabutton1 {
  border: none;
  border-radius: 0.2em;
  text-decoration: none;
  display: inline-block;
  padding: 1em 1em;
  width: 10em;
	margin-top: 30em;
	margin-right: 20em;
	/* color: white; */

}

.ctabutton1 {
	background-color: #FC6E20;
  color: white;
}

.cta-button1: hover {
  background-color: #777;
	/* color: white; */
}


/* END OF BUTTON */


.hctp2 {
	margin-top: -10em;
	margin-left: 5em;
	width: 50%
}


.grid-row2 p, .grid-row4 p, .grid-row6 p {
	margin-left: 10em;
}

.gr3p, .gr5p{
	margin-left: 5em;
	width: 50%;
	margin-top: 1em;
}

.coffeeimg1, .coffeeimg2 {
	width: 80%;
}

.merchimg1, .merchimg2 {
		width: 80%;
}


.ctabutton2 {
  border: none;
  border-radius: 0.2em;
  text-decoration: none;
  display: inline-block;
  padding: 1em 1em;
  width: 10em;
	margin-top: 2em;
	margin-right: 60em;
	/* color: white; */

}

.ctabutton2 {
	background-color: #FC6E20;
  color: white;
}

.cta-button2: hover {
  background-color: #777;
	/* color: white; */
}


.grid-footer{
	display: inline-block;
	background-color: #4D3F33;
	padding: 0;
	margin: 0;
	width: 100%;
}

.footername {
	color: #FC6E20;
	margin-top: 2em;
	padding: 0.5em;
}



.footermisc {
	color: #ffffff;
	text-decoration: none;
	margin-top: 1.5em;
	padding: 1em;
}


/* About Us Section */
.about-column-one h1 {
	margin-left: 4em;
	margin-top: 8em;
}

.about-column-one h2 {
	margin-left: 6em;
	color: black;
}

.aboutusimg1, .aboutusimg2 {
	width: 80%;
  margin-top: 3em;
}

.aboutusimg3, .aboutusimg4 {
	width: 80%;
}

.aboutusimg5, .aboutusimg6 {
	width: 80%;
}

/* Contact Us Section */
.contactus-column-one h2 {
		padding: 1em;
		margin-left: 4.5em;
		margin-top: 1em;
}

.contactus-column-one p {
	margin-left: 7em;
	padding: 1em;
}



.contactusbutton {
	border: none;
	border-radius: 0.2em;
	text-decoration: none;
	display: inline-block;
	padding: 1em 1em;
	width: 10em;
	margin-left: 27em;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-top: 5em;
	background-color: #FC6E20;
	color: white;
}

.contactusbutton: hover {
  background-color: #777;
}

.formcontainer label {
	margin-left: 8em;
}


.formcontainer {
  width: 50%;
  clear: both;
}

.formcontainer input {
	padding: 0.5em;
  width: 100%;
	margin-left: 8em;
  clear: both;
}

.googlemapblock {
	padding-top: 5em;
}


.contactus-column-two p {
	margin: 1em 0em;
 padding: 0.5em;
}

/* ------------------------------------------------------------------------------------- */

/* this is for the arrow */
.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

ul li {
  margin: 0 0 24px;
	color: #FC6E20;
}

.the-arrow {
  width: 1px;
  transition: all 0.2s;
}
.the-arrow.-left {
  position: absolute;
  top: 60%;
  left: 0;
}
.the-arrow.-left > .shaft {
  width: 0;
  background-color: #4c4c4c;
}
.the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
  width: 0;
  background-color: #4c4c4c;
}
.the-arrow.-left > .shaft:before {
  transform: rotate(0);
}
.the-arrow.-left > .shaft:after {
  transform: rotate(0);
}
.the-arrow.-right {
  top: 3px;
}
.the-arrow.-right > .shaft {
  width: 1px;
  transition-delay: 0.2s;
}
.the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
  width: 8px;
  transition-delay: 0.3s;
  transition: all 0.5s;
}
.the-arrow.-right > .shaft:before {
  transform: rotate(40deg);
}
.the-arrow.-right > .shaft:after {
  transform: rotate(-40deg);
}
.the-arrow > .shaft {
  background-color: #4c4c4c;
  display: block;
  height: 1px;
  position: relative;
  transition: all 0.2s;
  transition-delay: 0;
  will-change: transform;
}
.the-arrow > .shaft:before, .the-arrow > .shaft:after {
  background-color: #4c4c4c;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s;
  transition-delay: 0;
}
.the-arrow > .shaft:before {
  transform-origin: top right;
}
.the-arrow > .shaft:after {
  transform-origin: bottom right;
}

.animated-arrow {
  display: inline-block;
  color: #4c4c4c;
  font-size: 1.25em;
  font-style: italic;
  text-decoration: none;
  position: relative;
  transition: all 0.2s;
}
.animated-arrow:hover {
  color: #808080;
}
.animated-arrow:hover > .the-arrow.-left > .shaft {
  width: 64px;
  transition-delay: 0.1s;
  background-color: #808080;
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after {
  width: 8px;
  transition-delay: 0.1s;
  background-color: #808080;
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before {
  transform: rotate(40deg);
}
.animated-arrow:hover > .the-arrow.-left > .shaft:after {
  transform: rotate(-40deg);
}
.animated-arrow:hover > .main {
  transform: translateX(17px);
  transform: translateX(80px);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft {
  width: 0;
  transform: translateX(200%);
  transition-delay: 0;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  width: 0;
  transition-delay: 0;
  transition: all 0.1s;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
  transform: rotate(0);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  transform: rotate(0);
}
.animated-arrow > .main {
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
.animated-arrow > .main > .orange_text {
  margin: 0 16px 0 0;
  line-height: 1;
}
.animated-arrow > .main > .the-arrow {
  position: relative;
}

/* accordian */

.accordion label {
  color: #fff;
  cursor: pointer;
  font-weight: normal;
  padding: 10px;
  background: #b0100c;

}

.accordion label:hover,
.accordion label:focus {
  background: #252525;
}

.accordion .handle label:before {
  font-family: FontAwesome;
  content: "\f107";
  display: inline-block;
  margin-right: 10px;
  font-size: 1em;
  line-height: 1.556em;
  vertical-align: middle;
  transition: 0.4s;

}

.accordion > input[name="collapse"]:checked ~ .handle label:before {
    transform: rotate(180deg);
    transform-origin: center;
    transition: 0.4s;
}
