/* this is where css goes */
.grid-navbar{
	display: inline-block;
	background-color: #FC6E20;
	padding: 0;
	width: 100%;
}

.mainlogo{
	width: 20%;
	float: left;
	padding: 1em 1em;
}

nav {
	float: right;
}

nav ul {
	list-style: none;
}

nav li {
		display: inline-block;
		margin-left: 1em;
		margin-top: 2.5em;
		padding: 0.3em;

}

nav a {
		color: #ffffff;
		text-decoration: none;
		text-transform: uppercase;
}

nav a:hover {
	color: #000;
}

.grid-navicon{
padding: 0;
width: auto;
}

.profilelogo{
	width: 10%;
	float: right;
	padding: 1em 1em;
	margin-top: 1em;
	margin-right: 5em;
}

.cartlogo {
	width: 10%;
  float: right;
	padding: 1em 1em;
	margin-top: 1em;
	margin-right: 2em;
}

.grid-row1{
	display: inline-block;
	padding: 0;
}


.hero-column-one h1 {
	margin-top: 8em;
	margin-left: 7em;
}


.hero-column-one h2 {
		margin-top: -8.5em;
		margin-left: 10.5em;
}


.hctp1 {
	padding-top: 20em;
	margin-left: 4em;
	margin-top: 10em;
}

.hctp2 {
	margin-top: -12em;
	margin-left: 4em;
	width: 40%
}

.grid-footer{
	display: inline-block;
	background-color: #4D3F33;
	padding: 0;
	margin: 0;
	width: 100%;
}

.footername {
	color: #FC6E20;
	margin-top: 2em;
	padding: 0.5em;
}

.footermisc {
	color: #ffffff;
	text-decoration: none;
	margin-top: 1.5em;
	padding: 1em;

}
